.contenu{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    color: #fff;
   
}
.contenu div{
    height: 30vh;
    width: 100%;
    background-color: brown;
}
@media screen and (max-width: 1280px){
    
}
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 768px){
    .contenu{
        grid-template-columns: repeat(2, 1fr);

    }  
}
@media screen and (max-width: 560px){
    .contenu{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}